.wrapper {
  position: relative;
  height: 100vh;
  width: 100%;

  .content {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);

    .info {
      display: flex;
      flex-direction: column;
      gap: 30px;

      h1 {
        font-size: 3rem;
      }

      p {
        font-size: 1.2rem;
      }
    }

    .btn-group {
      margin-top: 30px;
    }
  }

  .image {
    position: absolute;
    top: 50%;
    right: 0;
    width: 50%;
    height: 50%;
    transform: translateY(-50%);

    img {
      height: 100%;
    }
  }
}
