@use 'bem' as *;

@include b(button) {
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  cursor: pointer;

  @include e(text) {
    font-size: 1rem;
  }

  @include m(primary) {
    background: #282a36;
    color: white;

    &:hover {
      background-color: rgba($color: #282a36, $alpha: 0.6);
    }
  }

  @include m(text) {
    background: transparent;
    color: white;
  }

  @include m(default) {
    transform: scale(1);
  }

  @include m(large) {
    transform: scale(1.5);
  }

  @include m(small) {
    transform: scale(0.8);
  }

  @include m(tiny) {
    transform: scale(0.5);
  }

  @include when(round) {
    border-radius: 30px;
  }
}
